# Default ignored files
/../../../../../../../../../DOCUME~1/REVATURE/REVATU~2/PROJEC~2/PROJEC~1/2004-A~1/PROJEC~1/Users/.idea/shelf/
/../../../../../../../../../DOCUME~1/REVATURE/REVATU~2/PROJEC~2/PROJEC~1/2004-A~1/PROJEC~1/Users/.idea/workspace.xml
